html {
  cursor: none;
  overflow: hidden;
  background: #000;
}

body {
  cursor: none !important;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}


* {cursor: none !important;}


::-webkit-scrollbar {
  display: none;
}

.dfMainPage.sapMPage {
  background-color: #000;
  cursor: auto;
}

.xxsmall {
  font-size: 12px !important;
}

.twittertext {
  font-size: 14px !important
}

.xsmall {
  font-size: 15px !important;
  line-height: 20px;
}

.small {
  font-size: 20px !important;
  line-height: 25px;
}

.medium {
  font-size: 30px;
  line-height: 35px;
}

.large {
  font-size: 65px;
  line-height: 65px;
}

.xlarge {
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -3px;
}

.thin {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.light {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 200;
}

.regular {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.bold {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700 !important;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.dimmed {
  color: #666 !important;
}

.normal {
  color: #999 !important;
}

.bright {
  color: #fff !important;
}

.marginleft5 {
  margin-left: 5px;
}

.top-section {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
 }

 .top-left {
   height: 477px !important;
 }

 .top-right {
   padding-bottom: 202px;
 }


.second-section {
  margin: 10px;
  text-align: center;
}

.news-container {
  margin: 10px;
  position: absolute;
  width: 95%;
  bottom: 30px;
}

.greeting-container {
}

.comp-hidden {
  display: none;
}

.busy_hide {
  display: none;
}

.nhide {
  opacity: 0;
}


.controlBox {
  border: 0px solid #999 !important;
}

.scorebox {
  border: 1px solid white;
}

.tweetlist .sapMLIB {
  margin-top: 5px;
  background: transparent !important;
  border: 1px solid transparent !important;
}

.tweetlist .sapMListHdr {
  padding: 0 !important;
  color: #888888 !important;
  font-size: 15px !important;
  height: 2rem !important;
  line-height: 2rem !important;
  border-bottom: 1px solid #333333 !important;
}

.tweetlist .tweeteven {
  color: #888888 !important;
}

.tweetlist .tweetodd {
  color: #aaaaaa !important;
}

.nhltable {
  margin-top: 10px;
  width: 400px !important;
}

.nhltable .sapMTB {
  height: 2rem !important;
}

.nhltable .sapMTB {
  padding-left: 0px !important;
}

.nhltable .sapMListTbl th {
  background: transparent !important;
}

.nhltable .sapMListTblRow {
  height: 1rem !important;
}

.nhltable .sapMListTblCell {
  padding: .4rem .2rem !important;
  vertical-align: middle !important;
}

/*.MMM-NHL .table {
    border-spacing: 10px 0;
    border-collapse: separate;
    text-align: center;
}*/

.nhltable .icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.nhltable .sapMLIB {
  background: #333333;
}

/*.MMM-NHL .row {
    vertical-align: middle;
}*/

.nhltable .live {
    font-size: 8px !important;
    line-height: 15px !important;
    display: block !important;
}

.nhltable .sapMLIBShowSeparator>td {
    border-top: 1px solid transparent !important;
}

.nhlpaddingright {
  padding-right: 20px !important;
}

.nhlpaddingleft {
  padding-left: 20px !important;
}

.icontop {
  margin-top: -2px !important;
}

.temperature {
  margin-left: 10px;
  margin-top: 12px;
}

.wimage {
  padding-top: 16px;
  padding-bottom: 4px;
}

.fheader {
  margin-top: 15px;
  margin-right: 2px;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 2px;
}

.underline {
  text-decoration: underline;
}

.forecast_list .sapMLIB {
  background: transparent !important;
  border-bottom: none !important;
}

.min-temp.sapMLabel {
    color: #BCDDFF;
}

.max-temp.sapMLabel {
    color: #FF8E99;
}

.adminBtn {
  position: absolute !important;
  top: 0px;
  left: 0px;
}

.adminBtn .sapMBtnInner {
    font-size: 0.875rem;
    height: 2.500rem;
    min-width: 2.500rem;
    background-color: transparent !important;
    border: 0px solid transparent !important;
    border-radius: 0.2rem;
    color: #666666 !important;
    text-shadow: none !important;
}

.adminBtn .sapMBtnIcon {
    font-size: 1.075rem;
    line-height: 2.075rem;
    width: 2.075rem;
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: top;
    max-height: 2.075rem;
    color: #666666 !important;
}
